@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.green{
    color: #006633;
}

.serviceDailog{
   word-spacing: 3px;
}

.section2 {
  transform: translateY(20px);
}

.mainLandingBody{
    padding-bottom: 80px;
    background-color: #3366FF;
    padding: 0px 20px;
    padding-top: 15px;
    padding-bottom: 23px;
    border-radius: 20px;
    /* height: 973px; */
    /* scroll-margin-top: 120px !important; */
}

@media (min-width: 771px) {
  .mainLandingBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.serviceDailog{
    color: #33FFCC;
    font-size: 38px;
    font-weight: 600;
}

.mainLandingBody h4{
    text-align: center;
    padding-top: 9px;
}

/* Fade Up Animation */
.sericeBox {
    border-radius: 10px;
    text-align: center;
    padding: 4px 12px;
    color: #3366FF;
    font-family: "Poppins", sans-serif;
    /* min-height: 420px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Animation properties */
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.sericeBox.animate {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.svHeadingSec{
    background-color: white;
    border-radius: 15px;
    height: 127px;
}

.svBtnDiv{
    margin-top: 20px;   
}
.svBtnDiv img{
    width: 100% !important;
    height: 50px !important;
}

.sericeBox h3, .sericeBox h4{
    margin: 0px 5px;
    font-weight: 800;
}

.sericeBox h4{
    font-size: 1.4em;
}

.sericeBox h5{
    display: inline-block;
    margin: 0px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
}

.sericeBox h6{
    margin: 0px;
    font-size: 1.1rem;
    font-weight: 800;
}

.svDesc {
    background-color: #33FFCC;
    border-radius: 15px;
    text-align: left !important;
    padding: 5px 10px;
    margin-bottom: 0px;
    min-height: 200px !important;
    max-height: 200px !important;
    height: 100% !important;
    margin-top: 12px;
}

.svDesc h6{
    text-align: center !important;
}

.svDesc p{
    font-weight: 500;
    font-size: 0.9em;
}

.sericeBox img{
    height: 70px;
    width: 80px;
    margin: 0px 5px;
}

.s1Image{
    height: 60px !important;
    width: 65px !important;
    margin: 0px 5px;
}

.s1Image1{
    height: 60px !important;
    width: 150px !important;
    margin: 0px 5px;
}

/* Mobile Boxes */
.sericeBox2{
    background-color: white;
    border-radius: 10px;
    text-align: center !important;
    color: #3366FF;
    font-family: "Poppins", sans-serif;
    min-height: 400px;

    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.sericeBox2.animate {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.sericeBox2 h3, .sericeBox2 h4{
    margin: 0px 5px;
    font-weight: 800;
}

.sericeBox2 h4{
    margin: 6px 0px;
}

.sericeBox2 h5{
    display: inline-block;
    margin: 0px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
}

.sericeBox2 h6{
    margin: 0px;
    font-size: 1.1rem;
    font-weight: 800;
}

.sericeBox2 p{
    padding: 4px 12px !important;
    font-weight: 500;
    font-size: 0.9em;
    text-align: center !important;
    margin: 0px !important;
}

.sericeBox2 img{
    height: 55px;
    width: 80px;
    margin: 0px 5px;
}

.flagBarImage{
    margin: 0px !important;
    height: 25px !important;
    width: 100% !important;
}

.mblImgSec{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.mblImgAgnImg{
    width: 100px !important;
}

.mblImgOPImg{
    width: 100% !important;
    height: 100px;
}

.svDesc{
    font-size: 14px !important;
    font-weight: bold;
}

/* MEDIA QUERIES */

/* Mobile Full Screen */
@media (max-width: 770px) {
    .mainLandingBody{
        padding: 10px;
        height: calc(100vh - 80px);
        min-height: calc(100dvh - 80px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .serviceDailog{
        display: none;
    }
    
    .sericeBox{
        margin-bottom: 8px;
        min-height: auto;
        padding: 3px 8px;
        border-radius: 8px;
    }
    
    .sericeBox2{
        margin-bottom: 0px;
        min-height: auto;
        padding: 8px 12px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    
    .sericeBox h3, .sericeBox2 h3{
        font-size: 1.1em;
        margin: 3px 0px;
        font-weight: 900;
    }
    
    .sericeBox h4, .sericeBox2 h4{
        font-size: 1em;
        margin: 3px 0px;
    }
    
    .sericeBox h5, .sericeBox2 h5{
        font-size: 1rem;
        margin: 0px 6px;
    }
    
    .sericeBox h6, .sericeBox2 h6{
        font-size: 0.85rem;
    }
    
    .sericeBox p{
        font-size: 0.7em;
        padding: 3px 0px 3px 4px;
    }
    
    .sericeBox2 p{
        font-size: 0.8em;
        padding: 4px 0px;
        margin: 4px 0px;
        text-align: left !important;
    }
    
    .sericeBox img{
        height: 45px;
        width: 55px;
        margin: 0px 3px;
    }
    
    .sericeBox2 img{
        height: 50px;
        width: 60px;
        margin: 2px 3px;
    }
    
    .flagBarImage{
        height: 18px !important;
    }
}

/* Small Mobile */
@media (max-width: 480px) {
    .mainLandingBody{
        padding: 8px;
        height: calc(100vh - 60px);
        min-height: calc(100dvh - 60px);
    }
    
    .sericeBox{
        margin-bottom: 6px;
        padding: 2px 6px;
    }
    
    .sericeBox2{
        padding: 6px 10px;
        height: 100%;
        text-align: center !important;
    }
    
    .sericeBox h3, .sericeBox2 h3{
        font-size: 0.95em;
        margin: 2px 0px;
        font-weight: 900;
    }
    
    .sericeBox h4, .sericeBox2 h4{
        font-size: 0.85em;
        margin: 2px 0px;
    }
    
    .sericeBox h5, .sericeBox2 h5{
        font-size: 0.85rem;
        margin: 0px 4px;
    }
    
    .sericeBox h6, .sericeBox2 h6{
        font-size: 0.7rem;
    }
    
    .sericeBox p{
        font-size: 0.6em;
        padding: 2px 0px 2px 3px;
    }
    
    .sericeBox2 p{
        font-size: 0.7em;
        padding: 3px 0px;
        margin: 3px 0px;
    }
    
    .sericeBox img{
        height: 35px;
        width: 45px;
        margin: 0px 2px;
    }
    
    .sericeBox2 img{
        height: 42px;
        width: 52px;
        margin: 2px 2px;
    }
    
    .flagBarImage{
        height: 14px !important;
    }
}
