@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  background-color: #33ffcc;
  color: #006633;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #3366ff;
  border-radius: 3px;
  -webkit-text-stroke: 0.4px #3366ff;
}

.moreServices {
  background-color: #3366ff;
  padding: 10px;
}

.moreServicesContainer {
  background-color: #33ffcc;

  overflow-y: scroll;
}

.singleServiceContainer {
  background-color: #3366ff;
  color: #33ffcc;
  text-align: center;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  margin-bottom: 10px;
  transition: transform 0.6s ease;
}

.contentContainer:hover {
  transform: scale(1.02) !important;
}

.singleServiceContainer h3 {
  margin: 0px 4px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Poppins', sans-serif !important;
  margin-bottom: 0px !important;
}

.moreServicesContainer a {
  text-decoration: none !important;
}

/* Description Styling */

.singleServiceDesContainer {
  color: #3366ff;
  background-color: #33ffcc;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.singleServiceDesContainer h3 {
  font-weight: 800;
  font-family: 'Poppins', sans-serif !important;
  word-spacing: 10px;
}

.singleServiceDesContainer p {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins', sans-serif !important;
}

.moreServicesPricing {
  background-color: #33ffcc;
  padding: 2px 10px;
  border-radius: 10px;
  margin: 10px 0px;
}

.moreServicesPricingTable {
  margin: 10px 0px;
  color: #3366ff;
}

.moreServicesPricingTable h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif !important;
}

.moreServicesPricingTable h2 {
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif !important;
}

.moreServicesPricingTable p {
  font-weight: 800;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green {
  color: #006633;
}

.tapmeContainer {
  text-align: center;
  margin: 10px 0px;
}
.tapme {
  width: 30%;
  height: 100px;
}

@media (max-width: 700px) {
  .singleServiceContainer {
    flex-direction: column !important;
  }
  .tapme {
    width: 100%;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .buttonContainer{
    margin-bottom: 5px;
    margin-top: 2px;
  }
  .singleServiceDesContainer {
    padding: 5px 3px;
  }

  .singleServiceDesContainer p {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
  }

  .moreServicesPricingTable {
    padding: 0px;
    margin: 0;
  }

  .moreServicesPricingTable h1 {
    font-size: 24px !important;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif !important;
  }

  .moreServicesPricingTable h2 {
    font-size: 22px !important;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif !important;
  }

  .moreServicesContainer {
    padding: 10px;
  }

  .singleServiceContainer {
    padding: 10px;
    height: 50px;
    flex-direction: column;
  }

  .singleServiceContainer h3 {
    font-size: 1.1em;
  }

  .moreServicesPricingTable p {
    font-size: 18px !important;
  }

  .tapme {
    width: 100%;
    height: 74px;
  }
}

@media (max-width: 380px) {
  .moreServicesPricingTable h1 {
    font-size: 1.2em !important;
  }

  .moreServicesPricingTable h2 {
    font-size: 1.1em !important;
  }

  .moreServicesPricingTable p {
    font-size: 14px !important;
  }
}
