/* WRAPPER: holds all sections */
.wrapper {
  width: 100%;
  padding: 0px 0;
  font-family: "Poppins", sans-serif !important;
}

/* EACH SERVICE SECTION */
.serviceSection {
  /* width: 80%; */
  margin: 0 auto 40px auto;
  background: #ffffff;
  border-radius: 18px;
  padding: 23px;
  color: #3366ff;
  font-family: "Poppins", sans-serif;
  background-color: #3366ff;
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* Smooth fade-in */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

/* Animation */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TITLE & IMAGE ROW */
.heading {
  text-align: center;
}

.heading h2 {
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.imageRow {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 12px 0;
}

.imageNormal {
  width: 50px;
  height: 50px;
}

.imageWide {
  width: 100px;
  height: 50px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
}

/* DESCRIPTION BOX */
.description {
  background: #33ffcc;
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
  /* font-size: 1rem; */
  font-weight: 500;
  width: 100%;
  line-height: 1.5;
}
.moboDescriptionContainer{
display: none;
width: 100%;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;

}
/* .moboDescription {
  background: #33ffcc;
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
  font-size: 1rem;
  
  font-weight: 500;
  line-height: 1.5;
} */
.desc {
  background: #33ffcc;
  /* padding: 20px; */
  border-radius: 12px;
  font-weight: 600;
  font-size: 28px;
}

/* BUTTON */
.btnWrapper {
  text-align: center;
}

.btnWrapper img {
  width: 250px;
  height: auto;
}

.headingRow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  gap: 10px;
  border-radius: 20px;
  padding: 5px;
  width: 100%;
  /* flex-wrap: wrap; */
}
.headingContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
/* bronze offer section */
.BronzetitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
.goldtitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 77px;
}
.mobogoldtitleContainer {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 77px;
}
.silvertitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 77px;
}
.platinumTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.moboplatinumTitleContainer {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}



  .footerSecontInvestmentText{

    color: #006633;
       letter-spacing: 1px;
    font-size: 20px;
    font-weight: 900;

  }
  .footerSecontInvestmentText  span{

    color: #3366ff;
       letter-spacing: 1px;
    font-size: 24px;
    font-weight: 900;

  }
.title {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 700;
  /* text-wrap: nowrap; */
}
.Bronzetitle {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  /* text-wrap: nowrap; */
}
.subtitle {
  font-size: 29px;
  font-weight: 900;
  margin: 0px;
  /* text-wrap: nowrap; */
}

.imageUltraWide {
  width: 247px;
  height: 50px;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding-top: 20px;
  /* margin-top: 10px; */
}
.dollar {
  font-size: 28px !important;
  font-weight: 700;
  color: #006633;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  line-height: 28px;
}
.euro {
  font-size: 28px !important;
  font-weight: 700;
  color: #3366ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  line-height: 28px;
}
.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.clickMeText {
  font-size: 22px;
  font-weight: 900;
  color: #3366ff;
  font-style: italic;
  margin-bottom: 0px;
}
.free {
  font-size: 22px !important;
  font-weight: 900;
  margin-bottom: 0px;
}

/* ==========Silver section styles=========== */
.perMonthText {
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  width: 100%;
  color: #3366ff;
}
.silverRescueContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.silverImageContainer {
  display: flex;

  width: 60%;
  margin-left: 20px;
}
.moboSilverImageContainer {
  display: flex;

  width: 100%;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.starImageContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.silverRescueText {
  width: 40%;
}
.SilverimageUltraWide {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

/* ===== gold offer section styles ===== */

.GoldperMonthText {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  color: #3366ff;
}
.goldRescueText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* services grid   */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  border-radius: 10px;
}

.item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(33.33% - 20px);
  background: #41ffd9;
  padding: 10px 5px;
  text-align: center;
  font-weight: 900;
  border-radius: 12px;
  font-size: 22px;
  min-width: 220px;
}
.servicesRowImgContainer :nth-child(2) {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}
 .moboApplyImageContainer{

    width: 100%;
    display: none;
  }
  .moboApplyImage{

    object-fit: cover;
    width: 100%;
    height: 100%;
  }
 
  .footerFirstInvestmentText{

    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;

  }
 


  .otherSecondFooterInvestmentText{

    color: #3366ff;
       letter-spacing: 1px;
    font-size: 10px;
    font-weight: 900;
  }
  .otherFirstFooterInvestmentTextContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    /* align-items: start; */
  }

 .otherFirstFooterInvestmentTextChild span{

  font-size: 18px;
  display: flex;
  color: #006633;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 .otherFirstFooterInvestmentTextChild :nth-child(2) span{

  font-size: 18px;
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 .otherfirstFooterInvestmentText{
  /* width: 20%; */
  display: flex;
  text-wrap: nowrap;
  justify-content: center;
  align-items: start; 
  gap: 10px;
 }
 
 .otherSecondFooterInvestmentText{
  /* width: 80%; */
  display: flex;
  justify-content: center;
  align-items: start;
  text-wrap: nowrap;
  flex-direction: column;
 }
 .otherSecondFooterInvestmentText p{
  /* width: 80%; */
 padding: 0px ;
 margin: 0px;
 }
 .mobosilverImageContainer{
  display: none;
 }
 .moboAIOOHeaderRow{
  display: none;
 }
 .moboAIOOHeaderRowtitle{
  display: none;
 }
 .moboMonthCardTop{

  display: flex;
  background-color: #33ffcc;
  color: #3366ff;
  justify-content: center;
  align-items: center;
 
 }



 .box {
  width: fit-content;
  display: none;
  background: #33ffcc;
  border-radius: 12px;
  overflow: hidden;
  border: 4px solid #20f2d1;
  font-weight: bold;
  color: #3366ff;
}



.label {
  font-size: 13px;
}

.values {
  display: flex;
  align-items: center;
  gap: 40px; /* same spacing as screenshot */
  font-weight: 600;
  color: #000;
}

.valueItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.currency {
  font-size: 16px;
}

.valueNumber {
  font-size: 20px;
}

.line {
  height: 2px;
  background: #20f2d1;
  mix-blend-mode: multiply; /* matches thin line look from image */
}
.moboAIOOHeaderRow{
  display: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
}
.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .MoreServicesCutYourCardImageUltraWide {
  width: 452px;
  height: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
    border-radius: 10px;
    background: #20f2d1;
    border: 1px solid blue;
}
.row > span {
  font-size: 15px;
  text-wrap: nowrap;
}
.row :nth-child(3){
  padding-top: 10px;
}



/* more services  */

.card {
  background: #33ffcc;
  border-radius: 22px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  color: #3366ff;
  width: 100%;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}


.backBtn {
  background: white;
  color: #3366ff;
  padding: 2px 4px;
  font-weight: 700;
  font-size: 11px;
  font-weight: 800;
  border: 1px solid #3366ff;
  /* border: none; */
  cursor: pointer;
}
.MoreServicesImageUltraWide {
  width: 120px;
  height: auto;
}


.title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-right: 25px;
  color: 3366FF;
}

.text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
}


.prices {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.priceBlock {
  display: flex;
  justify-content: center;

  gap: 2px;
  align-items: center;
}
.priceSpanFlex {
  display: flex;
  flex-direction: column;
  line-height: 19px;
  margin-right: 5px;
  gap: 2px;
  align-items: center;
}

.label {
  font-size: 13px;
  font-weight: 700;
  color: #3366FF;
}

.price {
  font-weight: 800;
  font-size: 18px;
  color: 3366FF;
  display: flex;
  gap: 2px;
}

.ctaBtn {
  background: #41ffd9;
  color: 3366FF;
  border: 3px solid 3366FF;
  border-radius: 14px;
  padding: 12px 18px;
  font-weight: 900;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px #41ffd9 inset;
  transition: 0.2s;
}
.values .valueNumber{

  font-size: 13px;
}

.ctaBtn:hover {
  transform: scale(1.05);
}
.valueItem span {

  font-size: 13px;
  line-height: 10px;
}

.box{
  width: 100%;
}
.valueItem {

  font-size: 13px;
}
.moboApplyImageINsectionsContainer{
  display: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .serviceSection {
    /* width: 90%; */
    padding: 25px;
    gap: 8px;
  }

  .heading h2 {
    font-size: 1.6rem;
  }

  /* .subtitle {
    font-size: 1.2rem;
  } */

  .imageNormal {
    width: 3rem;
    height: 3rem;
  }
  .moboApplyImageINsectionsContainer{
  display: flex;
}

  .imageWide {
    width: 120px;
    height: 55px;
  }
  .ServicesSections_perMonthText__0thlP {
    text-align: center;
  }
  .silverRescueContainer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
  }
  .contentContainer {
    justify-content: center;
  }
}
@media (max-width: 1020px) {
  .contentContainer {
    flex-wrap: wrap;

    /* justify-content: space-between; */
  }
}



/* Tablet */
@media (max-width: 900px) {
  .item {
    flex: 1 1 calc(50% - 20px);
  }
}

/* Mobile */
@media (max-width: 600px) {

  .headerRow {
  display: none;
 
}
 .box {
  width: 100%;
  display: block;
  background: #33ffcc;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #20f2d1;
  font-weight: bold;
  color: #3366ff;
}
.MoreServicesCutYourCardImageUltraWide {
    width: 285px;
    height: auto;
}
.footer{
  display: none;
}


 .moboAIOOHeaderRowtitle{
  display: flex;
  color: #3366ff;
  font-weight: 900;
  font-size: 20px;
  width: 90%;
  margin: auto;
 }
 .moboAIOOHeaderRow{
  display: flex;
   display: flex;
  color: #3366ff;
  font-weight: 900;
  font-size: 14px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
 }
 .goldtitleContainer {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 77px;
}
.mobogoldtitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 77px;
  width: 100%;
}
.mobogoldtitleContainer h3 {
  font-size: 27px;
}



  .item {
    flex: 1 1 100%;
  }
  .servicesRowImgContainer :nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
    margin-top: 10px;
  }
   .mobosilverImageContainer{
  display: flex;
 }
.moboDescriptionContainer{
display: flex;
width: 100%;

}

  .clickMeText{
    display: none;
  }
  .silverRescueContainer{
    display: none;
  }
  .contentContainer{
    display: none;
  }
 
  .servicesRowImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .imageContainer .headerImg{

    display: none;
  }
  .icons{
    display: none;
  }


  .starImageContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
    align-items: center;
    justify-content: center;
  }
  .titleContainer {
    display: flex;
    /* flex-direction: column-reverse; */
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
  }
  .BronzetitleContainer {
    display: flex;
    /* flex-direction: column-reverse; */
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin-left: 30px;
  }
  .subtitle{
    font-size: 22px;
    margin: 0;


  }
  .moboplatinumTitleContainer {
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    font-weight: 800;
}
  .moboplatinumTitleContainer h3 {
     
    font-weight: 800;
}
  .platinumTitleContainer{
    display: none;
  }
  .moboApplyImageContainer{

    width: 100%;
    height: auto;
    display: flex;
  }
  .starImageContainer .title {
    font-size:30px;
    text-align: center;
    margin-right: 0px;
  }
  .imageUltraWide {
    display: none;
  }

  .servicesRow {
    gap: 17px;
  }
  .imageNormal {
    width: 3rem;
    height: 3rem;
  }
  .headingContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0px;
}
}